doctype html
html
	head
		title Storyline API Documentation Page

		link(rel='stylesheet', href='/docs/css/bootstrap.min.css')
		link(rel='stylesheet', href='/docs/css/jquery.mCustomScrollbar.min.css')
		link(rel='stylesheet', href='/docs/css/style.css')
		script(src='/docs/js/jquery.min.js')
		script(src='/docs/js/bootstrap.min.js')
		script(src='/docs/js/jquery.mCustomScrollbar.concat.min.js')
		script(src='/docs/js/lodash.core.min.js')
		script(src='/docs/js/main.js')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href="#") #{api_metadata.title}
				ul.nav.navbar-nav.navbar-right 
					li 
						a(href="#") v#{api_metadata.version}

		div.wrapper
			block main-content
